.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--violet-);
  padding: 10px 20px;
  color: #fff;
}

.header__title {
  font-family: "Ultra", serif;
  color: var(--rose-);
  font-size: 24px;
  margin: 0;
}

.header__logo-image {
  width: 70px;
  height: auto;
}

.header__menu-toggle {
  font-family: "Ultra", serif;
  width: 500px;
  height: auto;
  color: var(--rose-);
}
