body {
  font-family: "Unbounded", sans-serif; 
}

h1 {
  font-family: "Ultra", serif; /* Utilise la police Ultra */
}

h2 {
  font-family: "Ultra", serif; /* Utilise la police Ultra */
}

h3 {
  font-family: "Ultra", serif; /* Utilise la police Ultra */
}

p {
  font-family: "Unbounded", sans-serif; /* Utilise la police Unbounded */
  font-weight: 400; /* Spécifiez un poids (200 à 900) si nécessaire */
}

          
/* Menu Principal */
.menu {
  background-color: #331137;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Adds consistent vertical spacing between items */
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.menu__logo-container {
  margin-bottom: 40px;
}

.menu__logo-container img {
  width: 80px;
  height: auto;
}



.menu__item {
  margin: 10px 0;
}

.menu__link {
  font-family: 'Ultra', serif;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  color: #ff69b4; /* Couleur par défaut */
  display: block;
  transition: color 0.3s ease;
}

/* Couleurs spécifiques pour chaque élément */
.menu__list .menu__item:nth-child(1) .menu__link {
  color: #ff69b4; /* Rose */
}

.menu__list .menu__item:nth-child(2) .menu__link {
  color: #67E344; /* Vert clair */
}

.menu__list .menu__item:nth-child(3) .menu__link {
  color: #FF914C; /* Orange */
}

.menu__list .menu__item:nth-child(4) .menu__link {
  color: #ff69b4; /* Rose */
}

.menu__list .menu__item:nth-child(5) .menu__link {
  color: #67E344; /* Vert clair */
}

.menu__list .menu__item:nth-child(6) .menu__link {
  color: #FF914C; /* Orange */
}

.menu__link:hover {
  text-decoration: underline;
}
