body {
  font-family: "Unbounded", sans-serif;
}

h1 {
  font-family: "Ultra", serif; /* Utilise la police Ultra */
}

h2 {
  font-family: "Ultra", serif; /* Utilise la police Ultra */
}

h3 {
  font-family: "Ultra", serif; /* Utilise la police Ultra */
}

p {
  font-family: "Unbounded", sans-serif; /* Utilise la police Unbounded */
  font-weight: 400; /* Spécifiez un poids (200 à 900) si nécessaire */
}

.menu {
  visibility: hidden;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: var(--violet-);
  color: white;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Ultra", serif;

  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}
.menu[aria-hidden="false"] {
  transform: translateX(0);
  visibility: visible;
}

.menu__link {
  font-family: "Ultra", serif;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--rose);
  display: block;
  transition: color 0.3s ease;
}

.menu__list .menu__item:nth-child(1) .menu__link {
  color: var(--rose-);
}

.menu__list .menu__item:nth-child(2) .menu__link {
  color: var(--vert-);
}

.menu__list .menu__item:nth-child(3) .menu__link {
  color: var(--orange-);
}

.menu__list .menu__item:nth-child(4) .menu__link {
  color: var(--rose-);
}

.menu__list .menu__item:nth-child(5) .menu__link {
  color: var(--vert-);
}

.menu__list .menu__item:nth-child(6) .menu__link {
  color: var(--orange-);
}

.menu__link:hover {
  text-decoration: underline;
}

.menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: "";
  background: var(--rose-);
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}

/* Technique pour transformer les 3 barres du bouton de menu en croix
Ne pas oublier d'ajouter une transition plus haut pour l'animation */
.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(135deg);
  /* background: var(--white); */
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.menu-btn__position {
  top: 0;
  left: 0;
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__logo-container {
  margin-bottom: 40px;
}

.menu__logo-container img {
  width: 80px;
  height: auto;
}

.menu__item {
  margin: 10px 0;
}
